{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="kobic">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript">
        </script>
        <script src="{% static 'js/library/angular.min.js'%}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/angular-animate.min.js'%}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/angular-cookies.min.js'%}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/CSSPlugin.min.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/TweenLite.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/ag-grid.min.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/app.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/services.js' %}" type="text/javascript">
        </script>
        {# Load the tag library #}
        {% load bootstrap3 %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        <meta charset="utf-8">
            <title>
                KOBIC
            </title>
        <link href="{% static 'css/element.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/class.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/id.css' %}" rel="stylesheet"/>
        </meta>
    </head>
    <body ng-controller="GlobalController as GlobalController">
        <div id="menuBarBackground"></div>
        <div id="menuBarArea">
            <a href="/show_contact_us/" class="menuBarButton">Contact us</a>
            <a href="/show_notice/" class="menuBarButton">Notice</a>
            <a href="/show_search/" class="menuBarButton">Search</a>
            <a href="/index/" class="menuBarButton">Home</a>
        </div>
        <a href="/index/">
        <img id="geneBackground" src="{% static 'image/gene_background.png' %}" />
        <div id="mainTextWrapper">
            <div id="mainText">
                Diabetes Genetics in Korea
            </div>
        </div>
        </a>
        <div id="activeAreaBackground">
        <div id="activeArea">
        {% block content %}
        {% endblock %}
        </div>
        <div id="footerArea">
            <a id="mohwWrapper" href="http://www.mohw.go.kr/eng/index.jsp" target="_blank">
                <img id="mohwLogo" src="{% static 'image/ministry_of_health_and_welfare_mark.png' %}" />
            </a>
            <a id="snuhWrapper" href="https://www.snuh.org/english/" target="_blank">
                <img id="snuhLogo" src="{% static 'image/snuh_mark.png' %}" />
            </a>
            <a id="snuWrapper" href="http://en.snu.ac.kr/index.html" target="_blank">
                <img id="snuLogo" src="{% static 'image/snu_mark.png' %}" />

            </a>
            <div id="footerTextWrapper">
                <div id="footerFirstText">Thank You For Visiting Us</div>
                <div id="footerSecondText">
                    <span>01 DAEHAK-RO JONGNO-GU, SEOUL 110-744, KOREA</span>
                </div>
                <div id="footerThirdText">
                    <span>2016 Korea SNUH. All rights reserved.</span>
                </div>
            <div>
        </div>
    </body>
</html>