{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div id="mainNoticeWrapper">
		<div class="noticeDate"> Posted on April 29, 2015 </div>
		<div class="noticeContent"> <span>Beta test version</span> of Diabetes genes homepage has just <span>opened!</span> </div>
	</div>
{% endblock %}