{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="kobic">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript">
        </script>
        <script src="{% static 'js/library/angular.min.js'%}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/angular-animate.min.js'%}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/angular-cookies.min.js'%}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/CSSPlugin.min.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/TweenLite.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/ag-grid.min.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/app.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/services.js' %}" type="text/javascript">
        </script>
        {# Load the tag library #}
        {% load bootstrap3 %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        <meta charset="utf-8">
            <title>
                Search Result
            </title>
        <link href="{% static 'css/element.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/class.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/id.css' %}" rel="stylesheet"/>
        </meta>
    </head>
    <body ng-controller="GlobalController as GlobalController" ng-init="GlobalController.initailizeBody()">
 {% if result_json_data %}
    <div id="searchResultImageWrapper">
        <img src="{% static 'image/search_result.png' %}"/>
    </div>

     <div id="searchResultArea" ng-init="GlobalController.initialiizeAgGrid({{current_database.0}}, {{result_json_data}}, {{hgmd_json_data}})">
    <div id="currentDatabaseWrapper" ng-init="GlobalController.setCurrentDatabase('{{current_database.1}}')" ng-click="GlobalController.toggleDatabaseList()">
                <a id="currentDatabase" href="">
                    {% verbatim %}
                        {{ currentDatabaseName }} 
                    {% endverbatim %}
                </a>
                <img id="selectDatabaseArrow" src="{% static 'image/down-arrow-grey.png' %}"/>
    </div>
    <div id="databaseListWrapper" ng-if="GlobalController.getDatabaseListFlag()">
    <div id="databaseList">
    {% for database_list_element in database_list%}
        <a href="/show_search_result/{{database_list_element.0}}/{{random_id}}/1/">
            <div class="databaseListElement">
                {{ database_list_element.1 }}
            </div>
        </a>
    {% endfor %}
    </div>
    </div>
    <div id="switchButtonWrapper">
        <a ng-click="GlobalController.setDownloadStatus('all')" id="allText" href="">
            All
        </a>
        <a ng-click="GlobalController.toggleDownloadStatus()" href="">
            <img ng-if="GlobalController.isDownloadStatusAll()==true" id="switchButton" src="{% static 'image/switch_left.png' %}">
            <img ng-if="GlobalController.isDownloadStatusCurrent()==true" id="switchButton" src="{% static 'image/switch_right.png' %}">
            </a>
            <a ng-click="GlobalController.setDownloadStatus('current')" id="currentText" href="">
                Current
            </a>
        </div>
        <div id="searchResultDownloadButtonWrapper">
            <a id="searchResultDownloadButton" href="/export_xlsx/{% verbatim %}{{downloadStatus}}{% endverbatim %}/{{current_database.0}}/{{random_id}}/">Download
            </a>
        </div>
        <div id="agGridTable" ag-grid="gridOptions" class="ag-dark"></div>
        <a id="searchResultFirstButton" href="/show_search_result/{{current_database.0}}/{{random_id}}/1/">First</a>
        {% if page_number != 1 %}
        <a id="searchResultPreviousButton" href="/show_search_result/{{current_database.0}}/{{random_id}}/{{page_number|add:"-1"}}/">Previous</a>
        {% elif page_number == 1 %}
        <a id="searchResultPreviousButton" href="/show_search_result/{{current_database.0}}/{{random_id}}/{{page_number}}/">Previous</a>
        {% endif %}
        <div id="searchResultIndex">Page {{page_number}} of {{total_page_number}}</div>
        {% if page_number != total_page_number %}
        <a id="searchResultNextButton" href="/show_search_result/{{current_database.0}}/{{random_id}}/{{page_number|add:"1"}}/">Next</a>
        {% elif page_number == total_page_number %}
        <a id="searchResultNextButton" href="/show_search_result/{{current_database.0}}/{{random_id}}/{{page_number}}/">Next</a>
        {% endif %}
        <a id="searchResultLastButton" href="/show_search_result/{{current_database.0}}/{{random_id}}/{{total_page_number}}/">Last</a>
     </div>
 {% else %}
 		<div>
 		No Results
 		</div>
 {% endif %}
    </body>
    </html>
