{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div id="mainContactWrapper">
		<div class="contactText"> Sign up &amp; Send Feedback</div>
		<div class="contactContent"> diabetes.genes@gmail.com  </div>
	</div>
	<div id="otherContactWrapper">
		<div class="contactText">Seoul National University Hospital</div>
		<div class="contactContent">Kyong Soo Park. MD, PhD</div>
		<div class="contactContent">Soo Heon Kwak. MD, PhD</div>
		<div class="contactText">Seoul National University</div>
		<div class="contactContent">Jong-Il Kim. MD, PhD</div>
		<div class="contactText">SungKyunKwan University</div>
		<div class="contactContent">Kyung A Kim. PhD</div>
	</div>
{% endblock %}
