{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div id="searchMainText">
		Find data on a gene,region or variant(s)
	</div>
	<div id="databaseWrapper">
		<div id="databaseText">
			Select Databases
		</div>
		<div id="databaseSelectAllButton" ng-click="GlobalController.selectDeselectAll()">
			Select/Deselect All
		</div>
		<div id="databaseBoxWrapper">
			<div class="databaseElementBox" ng-class="{activeDatabaseElementBox:GlobalController.isChecked(1)==true}" ng-click="GlobalController.clickCheckBox(1, 'GWAS+Imputation')">
				<div class="databaseCircleImage">
					<img ng-if="GlobalController.isChecked(1)==false" src="{% static 'image/inactive-check-mark-button.png' %}"/>
					<img ng-if="GlobalController.isChecked(1)==true" src="{% static 'image/active-check-mark-button.png' %}"/>
				</div>
				<div class="databaseCheckImage">
					<img ng-if="GlobalController.isChecked(1)==true" src="{% static 'image/check-image.png' %}"/>
				</div>
				<div class="databaseElementText">
					GWAS + Imputation
				</div>
			</div>
			<div class="databaseElementBox" ng-class="{activeDatabaseElementBox:GlobalController.isChecked(2)==true}" ng-click="GlobalController.clickCheckBox(2, 'Exome Sequence Data')">
				<div class="databaseCircleImage">
					<img ng-if="GlobalController.isChecked(2)==false" src="{% static 'image/inactive-check-mark-button.png' %}"/>
					<img ng-if="GlobalController.isChecked(2)==true" src="{% static 'image/active-check-mark-button.png' %}"/>
				</div>
				<div class="databaseCheckImage">
					<img ng-if="GlobalController.isChecked(2)==true" src="{% static 'image/check-image.png' %}"/>
				</div>
				<div class="databaseElementText">
					Exome Sequence Data
				</div>
			</div>
		</div>
	</div>
	<div class="searchWrapper">
		<div class="searchText">
			Paste a list of gene symbols <br/> (e.g. TP53)
		</div>
		<div class="searchInputBoxWrapper">
			<form action="/show_search/genes" enctype="multipart/form-data" method="post" target="_blank">
			    <input type="hidden" maxlength="200" name="checked_database_list" ng-value="GlobalController.getCheckedDatabaseListJSON()" type="text" />
    			<textarea cols="40" rows="10" class="searchInputBox" name="input_genes_text"  {% verbatim %}placeholder="{{genesTextPlaceHolderValue}}" ng-focus="GlobalController.clearGenesPlaceHolderValue()" ng-blur="GlobalController.fillGenesPlaceHolderValue()" {% endverbatim %}></textarea>
    			<div class="searchButtonWrapper">
    				<button ng-click="GlobalController.setSearchOption('genes')" class="searchButton" type="submit">
	        			Submit
    				</button>
    				<button class="searchButton" type="reset">
    					Clear
    				</button>
    			</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
	<div class="searchWrapper">
		<div class="searchText">
			Paste a list of regions <br/> (e.g. chr1:1147297-1677297:A:C)
		</div>
		<div class="searchInputBoxWrapper">
			<form action="/show_search/coordinates" enctype="multipart/form-data" method="post" target="_blank">
			    <input type="hidden" maxlength="200" name="checked_database_list" ng-value="GlobalController.getCheckedDatabaseListJSON()" type="text" />
			     <textarea cols="40" rows="10" class="searchInputBox" name="input_coordinates_text"  {% verbatim %}placeholder="{{coordinatesTextPlaceHolderValue}}" ng-focus="GlobalController.clearCoordinatesPlaceHolderValue()" ng-blur="GlobalController.fillCoordinatesPlaceHolderValue()" {% endverbatim %}></textarea>
    			<div class="searchButtonWrapper">
    				<button ng-click="GlobalController.setSearchOption('coordinates')" class="searchButton" type="submit">
	        			Submit
    				</button>
    				<button class="searchButton" type="reset">
    					Clear
    				</button>
				{% csrf_token %}
				</div>
			</form>
		</div>
	</div>
	<div class="searchWrapper">
		<div class="searchText">
			Paste a list of SNP IDs <br/> (e.g. rs200140498)
		</div>
		<div class="searchInputBoxWrapper">
			<form action="/show_search/snpids" enctype="multipart/form-data" method="post" target="_blank">
    			<input type="hidden" maxlength="200" name="checked_database_list" ng-value="GlobalController.getCheckedDatabaseListJSON()" type="text" />
    			<textarea cols="40" rows="10" class="searchInputBox" name="input_snpids_text"  {% verbatim %}placeholder="{{snpidsTextPlaceHolderValue}}" ng-focus="GlobalController.clearSnpidsPlaceHolderValue()" ng-blur="GlobalController.fillSnpidsPlaceHolderValue()" {% endverbatim %}></textarea>
    			<div class="searchButtonWrapper">
	    			<button ng-click="GlobalController.setSearchOption('snpids')" class="searchButton" type="submit">
		        		Submit
	    			</button>
					<button class="searchButton" type="reset">
    					Clear
    				</button>
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
	<div id="searchIntroText">
	Contents of our diabetes.genes.snu.ac.kr search browser</br>
	</div>
	<div id="searchDetailText">
	&#8544;. Reference gene information panels and annotation information.</br>
	&#8545;. The number of case and control and allele frequency.</br>
	&#8546;. Odd ratio and p-values for Type 2 diabetes mellitus.</br>
	&#8547;. Currently bi-allelic SNP are displayed.</br>
	&#8548;. SNP IDs are annotated with dbsnp138.</br>
	</div>
{% endblock %}