﻿.menuBarButton
{
	position: relative;
	width: 7%;
	height: 100%;
	float: right;
	color: #ffffff;
    cursor: pointer;
    font-size: 1.3vmin;
    display: flex;
  	align-items: center;
  	justify-content: center;
	vertical-align: middle;
	text-align: center;
	font-family: "나눔고딕";
}

.menuBarButton:hover
{
	background-color: #4A4A4A;
	color: #DEDEDE;
}

.menuBarButton:active
{
	background-color: #DEDEDE;
	color: #4A4A4A;
}

.searchWrapper
{
	position: relative;
	float: left;
	top: 27.5%;
	left: 2vmin;
	height: 30%;
	width: 33%;
	font-size: 1.3vmin;
}

.searchText
{
	position: relative;
	width: 100%;
}

.searchInputBoxWrapper
{
	position: absolute;
	width: 90%;
	height: 12vmin;
	top: 5vmin;
	background-color: #ffffff;
	border-radius: 2em;
  	border: 2.5px solid #787878;
}

.searchInputBox
{   
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 90%;
	height: 10vmin;
	resize: none;
	box-shadow: none;
  	outline: none;
	border: 0;
}

.searchInputBox::-webkit-input-placeholder {
  color: #787878;
}

.searchInputBox::-moz-placeholder {
  color: #787878;
}

.searchInputBox:-ms-input-placeholder {
  color: #787878;
}

.searchInputBox:-moz-placeholder {
  color: #787878;
}

.searchInputBox::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #E3E3E3;
}

.searchInputBox::-webkit-scrollbar
{
  width: 1em;
  background-color: #E3E3E3;
}

.searchInputBox::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #787878;
}

.searchButtonWrapper
{
	position: absolute;
	height: 20%;
	width: 100%;
	top: 110%;
	color: #787878;

}

.searchButton
{
	position: relative;
	left: 10%;
	margin-left: 10%;
	width: 25%;
	height: 100%;
	border-radius: 2em;
  	border: 2.5px solid #787878;
  	background-color: #ffffff;
}


.searchButton:active
{
	background-color: #787878;
	color: #ffffff;
}

.ag-dark 
{
  position: absolute;
  width: 90%;
  height: 85%;
  top: 7.5%;
  left: 5%;
}

.noticeDate 
{
	position: relative;
	font-weight: bold;
	margin-bottom: 1.5vmin;
}

.noticeContent
{
	position: relative;
	margin-left : 5vmin;
	margin-bottom: 1.5vmin;
}

.contactText
{
	position: relative;
	margin-bottom: 1.5vmin;
	font-weight: bold;
}

.contactContent
{
	position: relative;
	margin-bottom: 1.5vmin;
}

.databaseElementBox
{
	position: relative;
	float: left;
	top: 2.5%;
	height: 2.5vmin;
	width: 25vmin;
	margin-left: 2.5%;
	color: #787878;
	line-height: 2.5vmin;
	background-color: #ffffff;
  	border: 2.5px solid #787878;
  	cursor: pointer;
}

.databaseCircleImage
{
	position: relative;
	float: left;
	left: 5%;
	height: 2vmin;
	width: 2vmin;
}

.databaseElementText
{
	height: 1.5vmin;
	font-size: 1.1vmin;
}

.databaseCheckImage
{
	position: absolute;
	height: 1.2vmin;
	width: 1.2vmin;
	left: 6.5%;
	z-index: 3;
}

.activeDatabaseElementBox
{
	background-color: #787878;
	color: #ffffff;
}