* {

  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; 

}

*:before,*:after {

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

}

html{

  margin: 0px; 
  padding: 0px;

}

body{

  position: absolute;
  width: 100%;
  min-width: 960px;
  height: 100%; 
  min-height: 560px;
  top: 0; 
  left: 0; 
  overflow: auto;
  margin: 0px;
  padding: 0px;
  background-color: #f7f7f7;
  
}

ol, ul, dl{ 

  margin: 0px;
  padding: 0px;
  list-style-position: inside; 

}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;   
  color: white;
}

a:hover {
  outline: none;
  text-decoration: none;
  color: white;
}

a:active {
  border-top: 0.1em;
  text-decoration: none;
  color: white;
}

img {
  height : 100%;
  width : 100%;
}

iframe {
  height : 100%;
  width : 100%;
  border: none;
}

button {
  background: none;
  outline: 0; 
  border: 0;
}

span {
  font-weight: bold;
}

/** End for describing the elements in Demo **/

/** Begin for setting the font-face in Demo **/

@font-face {

  font-family:"Miso";
  src:url("../font/miso.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;

}

@font-face {

  font-family:"Miso-Bold";
  src:url("../font/MISO-BOL.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;

}

@font-face {

  font-family:"MuseoSans 500";
  src:url("../font/MuseoSans_500.otf") format("truetype");
  font-weight:normal;
  font-style:normal;

}

@font-face {

  font-family:"THE도담R";
  src:url("../font/THE도담R.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;

}

@font-face {

  font-family:"THE도담B";
  src:url("../font/THE도담B.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;

}

@font-face {

  font-family:"나눔고딕";
  src:url("../font/나눔고딕.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;

}

@font-face {

  font-family:"나눔고딕Bold";
  src:url("../font/나눔고딕Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;

}

@font-face {

  font-family:"나눔고딕ExtraBold";
  src:url("../font/나눔고딕ExtraBold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;

}




/** End for setting the font-face in Demo **/

@-webkit-keyframes menu {

  from {

    opacity: 1;
    background-color: #cf0652;
    box-shadow: 0px 0px 24px 1px #cf0652;

  }

  to {

    opacity: 0;
    background-color: #cf0652;
    box-shadow: 0px 0px 24px 1px #cf0652;

  }

}

@-webkit-keyframes content {

  from {

    opacity: 1;
    background-color: #ffbe2c;
    box-shadow: 0px 0px 24px 1px #ffbe2c;

  }

  to {

    opacity: 0;
    background-color: #ffbe2c;
    box-shadow: 0px 0px 24px 1px #ffbe2c;
    
  }

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
