﻿#menuBarBackground
{
	position: absolute;
	height: 5%;
	width: 100%;
	background-color: #666666;
}

#menuBarArea
{
	position: absolute;
	height: 5%;
	width: 100%;
	color: 5%;
}

#geneBackground
{
	position: absolute;
	top: 5%;
	height: 20vmin;
	z-index: 1;
}

#mainTextWrapper
{
	position: absolute;
	top: 5%;
	width: 100%;
	height: 20vmin;
	z-index: 2;
}

#mainText
{
	position: absolute;
	display: flex;
	font-size: 5vmin;
	font-family: "Times New Roman";
	color: #ffffff;
  	align-items: center;
  	justify-content: center;
	vertical-align: middle;
	text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

#activeArea
{
	position: absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
	width: 70%;
	height: 75%;
	top: 25vmin;
	font-family: "나눔고딕";
	font-size: 1.5vmin;
}

#introText
{
	position: absolute;
	width: 100%;
	font-family: "나눔고딕";
	font-size: 1.5vmin;
	top: 7.5vmin;
}

#typeTwoDiabetesText
{
	font-size: 3.5vmin;
}

#activeAreaBackground
{
	height: 100%;
	width: 100%;
	background-color: #f7f7f7;	
}

#searchMainText
{
	position: relative;
	top: 5%;
	font-weight: bold;
}

#databaseWrapper
{
	position: absolute;
	top: 9%;
	width: 100%;
	left: 2vmin;
	height: 20%;
	font-size: 1.3vmin;
}

#databaseText
{
	position: relative;
	float: left;
    top: 0;
}

#databaseSelectAllButton
{
	position: relative;
	float: left;
	left: 2%;
  	z-index: 3;
  	width: 11vmin;
  	height: 2vmin;
	text-align: center;
  	font-size: 1.1vmin;
  	line-height: 2.1vmin;
  	font-family: "THE도담R";
  	border-radius: 1.3em;
  	background: #787878;
  	color: #ffffff;
  	cursor: pointer;
}

#databaseSelectAllButton:active
{
	top: 0.3vmin;
	left: 2.5%;
  	width: 10vmin;
	height: 1.6vmin;
	line-height: 1.7vmin;
	font-size: 1vmin;
 	border-radius: 1em;
}

#databaseBoxWrapper
{
	position: absolute;
	height: 12vmin;
	width: 96%;
  	align-items: center;
  	justify-content: center;
	vertical-align: middle;
	text-align: center;
    top: 20%;
    bottom: 0;
    margin: 0 auto;
}

#currentDatabaseWrapper
{
  position: absolute;
  width: 28vmin; 
  height: 2vmin;
  top: 1vmin;
  left: 5%;
  color: #787878;
  border: 0.25vmin solid;
}

#currentDatabase 
{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0%;
  color: #787878;
  font-family: "나눔고딕Bold";
  text-align: center;
  vertical-align: middle;
  line-height: 2vmin;
  font-size: 1vmin;
}

#selectDatabaseArrow 
{
  position: absolute;
  top: 35%;
  right: 3%;
  width: 0.8vmin;
  height: 0.8vmin;
  z-index: -1;
}

#databaseListWrapper
{
  position: absolute;
  width: 28.45vmin; 
  top: 3.3vmin;
  left: 5%;
  font-size: 1vmin;
  color: #ffffff;
  font-family: "나눔고딕";
  background-color: #787878;
  z-index: 10;
}

#databaseList 
{
  position: relative;
  width: 100%;
  height: 100%;
  top: 5%;
  right: 0%;
  color: #ffffff;
  font-family: "나눔고딕Bold";
  text-align: center;
  vertical-align: middle;
  line-height: 2vh;
  font-size: 1vmin;
}

#searchIntroText
{
	position: absolute;
	top: 60%;
	font-weight: bold;
}

#searchDetailText
{
	position: absolute;
	top: 65%;
	left: 1.5%;
	font-weight: bold;
	font-size: 1.3vmin;
}

#searchResultImageWrapper
{
  position: absolute;
  width: 83.43vmin;
  height: 9vmin;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -5;
}

#searchResultDownloadButtonWrapper
{
  position: absolute;
  width: 7vmin;
  height: 2vmin;
  top: 1vmin;
  right: 5%;
  border: 0.25vmin solid;;
  border-color: #666666;
  border-radius: 0.6em;
  background-color: #FFFFFF;
  color: #666666;
  font-family: "나눔고딕Bold";
  text-align: center;
  vertical-align: middle;
  line-height: 2vmin;
  font-size: 1.1vmin;
}

#searchResultDownloadButton
{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0%;
  color: #666666;
  font-family: "나눔고딕Bold";
  text-align: center;
  vertical-align: middle;
  line-height: 2vmin;
  font-size: 1.1vmin;
}

#searchResultDownloadButton:active
{
   color: #ffffff;
   background-color: #666666;

}

#searchResultArea{                                                                     

  position: absolute;
  height: 90%;
  width: 100%;                                                           
  display: block;                                                               
  top: 10%;
  left: 0px;                                                                   
  font-family: "THE도담R";

} 

#searchResultFirstButton
{
  position: absolute;
  width: 4%;
  height: 2vmin;
  top: 94%;
  left: 38%;
  border-radius: 1em;
  background-color: #666666;
  color: #FFFFFF;
  font-family: "나눔고딕Bold";
  text-align: center;
  vertical-align: middle;
  line-height: 2vmin;
  font-size: 1vmin;
}

#searchResultFirstButton:active
{
  background-color: #ffffff;
  color: #666666;
  border: 0.2vmin solid #666666;
  width: 3.8%;
  height: 1.6vmin;
  line-height: 1.8vmin;
}

#searchResultPreviousButton
{
  position: absolute;
  width: 4%;
  height: 2vmin;
  top: 94%;
  left: 43%;
  border-radius: 1em;
  background-color: #666666;
  color: #FFFFFF;
  font-family: "나눔고딕Bold";
  text-align: center;
  vertical-align: middle;
  line-height: 2vmin;
  font-size: 1vmin;
}

#searchResultPreviousButton:active
{
  background-color: #ffffff;
  color: #666666;
  border: 0.2vmin solid #666666;
  width: 3.8%;
  height: 1.6vmin;
  line-height: 1.8vmin;
}

#searchResultIndex
{
  position: absolute;
  width: 9vmin;
  height: 2vmin;
  top: 94%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #666666;
  font-family: "나눔고딕Bold";
  text-align: center;
  vertical-align: middle;
  line-height: 2vmin;
  font-size: 1vmin;
}

#searchResultNextButton
{
  position: absolute;
  width: 4%;
  height: 2vmin;
  top: 94%;
  left: 53%;
  border-radius: 1em;
  background-color: #666666;
  color: #FFFFFF;
  font-family: "나눔고딕Bold";
  text-align: center;
  vertical-align: middle;
  line-height: 2vmin;
  font-size: 1vmin;
}

#searchResultNextButton:active
{
  background-color: #ffffff;
  color: #666666;
  border: 0.2vmin solid #666666;
  width: 3.8%;
  height: 1.6vmin;
  line-height: 1.8vmin;
}

#searchResultLastButton
{
  position: absolute;
  width: 4%;
  height: 2vmin;
  top: 94%;
  left: 58%;
  border-radius: 1em;
  background-color: #666666;
  color: #FFFFFF;
  font-family: "나눔고딕Bold";
  text-align: center;
  vertical-align: middle;
  line-height: 2vmin;
  font-size: 1vmin;
}

#searchResultLastButton:active
{
  background-color: #ffffff;
  color: #666666;
  border: 0.2vmin solid #666666;
  width: 3.8%;
  height: 1.6vmin;
  line-height: 1.8vmin;
}

#mainNoticeWrapper
{
	position: absolute;
	top: 10vmin;	
}

#mainContactWrapper
{
	position: absolute;
	top: 10vmin;
}

#otherContactWrapper
{
	position: absolute;
	top: 20vmin;
}

#footerArea
{
	position: absolute;
	top: 86%;
	left: 0;
    right: 0;
    margin: 0 auto;
	width: 70%;
	height: 13vmin;
}

#mohwWrapper
{
	position: absolute;
	left: 0;
    right: 0;
    margin: 0 auto;
	width: 8.06vmin;
	height: 6.5vmin;
}

#mohwLogo
{
	width: 8.06vmin;
	height: 6.5vmin;
	margin-left: -25vmin;
}

#snuhWrapper
{
	position: absolute;
	left: 0;
    right: 0;
    margin: 0 auto;
   	width: 14.21vmin;
	height: 6.5vmin;
	z-index: 1;
}

#snuhLogo
{
	width: 14.21vmin;
	height: 6.5vmin;
}

#snuWrapper
{
	position: absolute;
	left: 0;
    right: 0;
    margin: 0 auto;
  	width: 6.26vmin;
	height: 6.5vmin;
}

#snuLogo
{
	width: 6.26vmin;
	height: 6.5vmin;
	padding-left: 25vmin;
}

#footerTextWrapper
{
	position: absolute;
	display: inline-block;
  	align-items: center;
  	justify-content: center;
	vertical-align: middle;
	text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 8vmin;
}

#switchButtonWrapper{
  position: absolute;
  display: inline-block;
  float: left;
  width: 15vmin;
  height: 3.5vmin;
  top: 0.5vmin;
  right: 7.5%;
}

#allText
{
  position: absolute;
  top: 1.3vmin;
  width: 5vmin;
  height: 3.5vmin;
  color: #666666;
  font-family: "나눔고딕Bold";
  line-height: 1vmin;
  font-size: 1vmin;
}

#switchButton
{
  position: absolute;
  left: 14%;
  width: 3.3vmin;
  height: 3.5vmin;
}

#currentText
{
  position: absolute;
  top: 1.3vmin;
  left: 41%;
  width: 5vmin;
  height: 3.5vmin;
  color: #666666;
  font-family: "나눔고딕Bold";
  line-height: 1vmin;
  font-size: 1vmin;
}
